<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luke.mapper.UserMapper">
   <select id="findByUsername" parameterType="string" resultType="user">
     select id,username,password,permissions from user where username=#{value}
   </select>
    <select id="findById" parameterType="int" resultType="user">
     select id,username,password,permissions from user where id=#{value}
   </select>
</mapper>